<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.ProductMapper">
    <select id="findByPname" resultType="com.test.entity.Product" parameterType="java.lang.String">
        select Pid,Pname,Price from product where Pname =#{Pname}
        

    </select>
    <select id="findAllByPname" resultType="com.test.entity.Product" parameterType="java.lang.String">
        select Pid,Pname,Price from product where Pname=#{Pname}
    </select>
</mapper>